@{
    Layout = "_Layout";
    ViewBag.Titulo = "Sobre";
}

<div class="container mt-5">
  <div class="card shadow p-4">
    <h1 class="mb-3">Sobre nós</h1>

    <p>
      Somos Iago Bueno e Dayuã Santana, alunos da <a href="https://www.academiadoprogramador.net" target="_blank">
        Academia do Programador</a>., apaixonados por tecnologia e desenvolvimento web. 
      Durante nossa jornada de aprendizado, desenvolvemos um site de lista de compras com o objetivo de aplicar na prática os conceitos estudados em sala de aula.
    </p>

    <p>
      Este projeto foi construído utilizando a arquitetura MVC (Model-View-Controller), o que nos permitiu organizar melhor o código e separar as responsabilidades de cada parte do sistema. 
      Além disso, utilizamos o Bootstrap para estilizar a interface, garantindo um design mais moderno, responsivo e agradável para o usuário.
    </p>

    <p>
      Nosso objetivo com este trabalho foi aprimorar nossas habilidades em desenvolvimento web e consolidar conhecimentos importantes para nossa formação como programadores.
    </p>
  </div>
</div>