<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    @* Importação do CSS do Bootstrap *@
    <link rel="stylesheet" href="~/lib/bootstrap-5.3.8-dist/css/bootstrap.min.css">

    <title>Stocka</title>
</head>
<body>

    @* Cabeçalho da Página *@
    <header class="container py-4">
        <h2>@ViewBag.Titulo</h2>
    </header>

    @* Conteúdo da Página *@
    <main class="container pb-5">
        @RenderBody()
    </main>

    @* Importação do JavaScript do Bootstrap *@
    <script src="~/lib/bootstrap-5.3.8-dist/js/bootstrap.bundle.min.js"> </script>
</body>
</html>