@model ListaCompras.WebApplication.ModuloListaCompras.Aplicacao.EditarListaComprasDto

@{
    Layout="_Layout";
    ViewData["Title"] = "Editar Lista de Compras";
}
<div class="container d-flex justify-content-center align-items-center"
    style="min-height: calc(100vh - 120px);">


    <form class="card border-0 shadow-lg p-4 rounded-4 w-100" style="max-width: 620px;" asp-action="Editar" method="post">
        <input type="hidden" asp-for="Id"/>

        <h2 class="fw-bold text-primary mb-3">Editar Lista: @Model.Nome</h2>
        <div class="mb-4">
            <label>Nome da Lista</label>
            <input asp-for="Nome" class="form-control" />
            <span asp-validation-for="Nome" class="text-danger"></span>
        </div>

        <br/>
        <button class="btn btn-primary rounded-pill px-4 py-2 shadow-sm" type="submit">Salvar Alterações</button>
        <a asp-action="Listar" class="btn btn-outline-secondary rounded-pill px-4 py-22">Cancelar</a>
    </form>

</div>